# Виртуальные окружения
venv/
env/

# Файлы Python
*.pyc
*.pyo
__pycache__/

# Конфиденциальные файлы
.env
*.sqlite3

# Логи и временные файлы
*.log
*.tmp

# IDE и редакторы
.vscode/
.idea/
*.swp

*.csv
*.tsv
*.xls
*.xlsx
*.xlsm
*.xlsb
*.ods
