<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <style> 
            /* css-lint-disable */
            {{ fontface|safe }}  
        </style>
        <link rel="stylesheet" href="{{ bootswatch_theme|safe }}">
        <link rel="stylesheet" href="/Users/pavelustenko/cosmodash/reporting/templates/base_report.css">
        
        
    </head>
    
    <body>
        <div class="topic_section">
            <div>
                <p><strong>Тема:</strong> {{ title|safe}}</p>
                <p><strong>Дата:</strong> {{date|safe}}</p>
            </div>
            
            <hr>
        
        <article class="main_article">
            {{content|safe}}

        </article>
    </body>
</html>