<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!-- BS локально -->
    <link rel="stylesheet" href="{{ bs_path }}">
    <link rel="stylesheet" href="{{ bw_path }}">
    <link rel="stylesheet" href="{{ rs_path }}">
  </head>
  <body>
 
    

    <!-- HEADER -->
    <header>
     
    <nav class="navbar bg-primary position-relative" style="height:100px;">
        <img src="{{ ap_path }}/logo.png" 
             style="height:30px; width:auto; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);" />
    </nav>
   
</header>

    <!-- REPORT INFO -->
    <div class="report-info">
      <div><span class="badge bg-primary">Тема:</span> {{ title }}</div>
      <div><strong>Дата:</strong> {{ date }}</div>
    </div>

    <div class="divider"></div>

    <!-- CONTENT -->
    <div class="content">
      {{ content|safe }}
    </div>

    <div class="divider"></div>

   
  </body>
</html>